@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .round-icon-btn {
    @apply transition-all w-12 h-12 bg-gray-10 rounded-full text-white flex items-center justify-center text-xl;
    &:hover {
      @apply !bg-chrysler-blue !text-white;
    }
    svg {
      @apply w-[22px];
    }
    &.-invert {
      @apply bg-white text-gray-10;
    }
    &.-big {
      @apply w-[66px] h-[66px] text-2xl;
      svg {
        @apply w-[29px];
      }
    }
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  font-family: "Sukhumvit Set", sans-serif;
}

.swiper-pagination-bullet-active {
  @apply !bg-chrysler-blue;
}

.swiper-pagination-bullet {
  @apply !w-3 !h-[6px] !rounded-[20px];
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  @apply !mx-[1px];
}
