@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .square-icon-btn {
    @apply cursor-pointer transition-all w-12 h-12 bg-gray-10 rounded-[10px] text-white flex items-center justify-center text-xl;
    &:hover {
      @apply bg-chrysler-blue text-white;
    }
    &.-active {
      @apply !bg-chrysler-blue !text-white;
    }
    svg {
      @apply w-[22px];
    }
    &.-invert {
      @apply bg-white text-gray-10;
      &:hover {
        @apply bg-gray-10 text-white;
      }
      &.-active {
        @apply !bg-gray-10 !text-white;
      }
      &.-gray {
        @apply bg-gray-1;
        &:hover {
          @apply bg-gray-10 text-white;
        }
        &.-active {
          @apply !bg-gray-10 !text-white;
        }
      }
    }
  }
  .round-icon-btn {
    @apply cursor-pointer transition-all w-12 h-12 bg-gray-10 rounded-full text-white flex items-center justify-center text-xl;
    &:hover {
      @apply bg-chrysler-blue text-white;
    }
    &.-active {
      @apply !bg-chrysler-blue !text-white;
    }
    svg {
      @apply w-[22px];
    }
    &.-invert {
      @apply bg-white text-gray-10;
      &:hover {
        @apply bg-gray-10 text-white;
      }
      &.-active {
        @apply !bg-gray-10 !text-white;
      }
      &.-gray {
        @apply bg-gray-1;
        &:hover {
          @apply bg-gray-10 text-white;
        }
        &.-active {
          @apply !bg-gray-10 !text-white;
        }
      }
    }
    &.-big {
      @apply w-[66px] h-[66px] text-2xl;
      svg {
        @apply w-[29px];
      }
    }
    &.-small {
      @apply w-10 h-10 text-lg;
      svg {
        @apply w-[18px];
      }
    
    }
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .heading-label {
    @apply text-[32px] leading-10 md:text-5xl md:leading-[56px] font-bold;
  }
  .fancy-border {
    @apply relative [&_*]:z-[1];
  }
  .fancy-border::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 9px;
    padding: 3px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: radial-gradient(
      95.67% 228.37% at 0.26% 99.57%,
      #fab32e 0%,
      #f96234 49%,
      #e22e73 78%,
      #5449ff 100%
    );
    -webkit-mask: radial-gradient(
      95.67% 228.37% at 0.26% 99.57%,
      #fab32e 0%,
      #f96234 49%,
      #e22e73 78%,
      #5449ff 100%
    );
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

body {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.swiper-pagination-bullet-active {
  @apply !bg-chrysler-blue;
}

.swiper-pagination-bullet {
  @apply !w-3 !h-[6px] !rounded-[20px];
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  @apply !mx-[1px];
}
